/* @media screen and (min-width:300px) {
    body{
        height: 100vh;
        width: 100vw;
    }
}
 */


@media screen and (max-width:768px) {
    #grade1 {
        height: 100vh;
        width: 50vw;
        background-color: rgb(140, 0, 255);
        background-image: linear-gradient(rgb(162, 0, 255), rgba(0, 225, 255, 0.938));
    }
    .header{
        background: transparent; 
    }   
     .name{
       margin-right: -20rem;
    }
    .name p{
    color: rgb(248, 246, 246);
      margin-left: 1rem;
    }

    .home{
        height: 100vh;
        width: 100vw;
    }
    
    .container1{
        height: 100vh;
        width: 100%;
    }
    .bold{
        color: black;
    }
    
    .img1{
        display: flex;
        flex-basis: 50%;
    }
    .img{
         width: 50vw;
        height: 100vh;
        background-repeat: no-repeat;
       background-size: cover;
       background-position: center center;
    }
    .info{
        display: flex;
        flex-basis: 50%;
        height: 100vh;
        width: 50vw;
        flex-direction: column;
        float: right;  
        color: rgb(245, 241, 241);
        /* background-color: pink; */
    }
    #grade1 {
        height: 100vh;
        width: 50vw;
        background-color: rgb(140, 0, 255);
        background-image: linear-gradient(rgb(162, 0, 255), rgba(0, 225, 255, 0.938));
    }
     .box{
        padding: 1rem 3rem;
        margin-top: 4rem;
        font-family:  'Condensed', sans-serif;
    } 
    .box h1{
        font-size:1rem;
        color: #f1c779;
    }
    .box h2{
        font-size: 1rem;
        margin-top: 2.5rem;
    }
    .box p{
        margin-top: 1.8rem;
        color: white;
        font-size: larger;
    }
    .box ul{
        padding: 1rem 0;
    }
    .box ul li{
        font-size: unset;
        line-height: 150%;
    }
} 

@media screen and (max-width:768px) {
    .container2{
        height: 100vh;
        width: 100vw; 
        display: flex;
        flex-wrap: wrap;
    }
  
    .details{
        /* display: inline-block; */ 
        flex-basis: 100%;
       width: 100vw;
       height: 330px;
    }
    

    .img2{
        flex-basis: 50%;
        height: 500px;
        width: 50vw;
     }
     .img2 img{
       width: 50vw;
       flex-basis: 50%;
       background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
     }

     .skill{
        /* display: flex; */
        flex-basis: 50%;
        width: 50vw;
        height: 470px;
        flex-direction: column;
        color:blanchedalmond;
        background-color: brown;
     }
     .skill-prog{
         padding: 0rem 0rem;
         width: 50vw;
     }
     #grade2 {
        height: 500px;
        width: 50vw;
        background-color: black;
        background-image: linear-gradient(rgb(238, 235, 235), rgba(10, 10, 10, 0.938));
    }

}

@media screen and (max-width:768px) {

    .exp{
        padding: 1rem 0rem;
    }
    .exp h1{
        margin-left: 3rem;
        font-size: 1.6rem;
    }
    .exp h2{
        margin-left: 3rem;
        font-size: 1.3rem;
    }
    .exp p{
        font-size: 1.1rem;
    }
    .collage{
        font-size: 0.8rem;
        font-weight: 500;
    }

    .edu{
        padding: 1rem 0rem;
    }
    .edu h1{
        margin-left: 3rem;
        font-size: 1.6rem;
    }
    .edu h2{
        margin-left: 3rem;
        font-size: 1.3rem;
    }
    .edu p{
        font-size: 1.1rem;
    }
    .collage{
        font-size: 0.8rem;
        font-weight: 500;
    }
    .date{
        font-size: 0.8rem;
    }
}
@media screen and (max-width:768px) {
    .text{
        font-size: 1.9rem;
        
    }
}

@media screen and (max-width:768px) {
    .container6{
        height: 100vh;
        width: 100vw; 
        display: flex;
        flex-wrap: wrap;
    }

    .per-info{
        height: 550px;
    }
    .cont-img{
        flex-basis: 50%;
         width: 50vw;
    }

    .img5{
        width: 50vw;
    }
    .cont-add{
        flex-basis: 50%;
         width: 50vw;
    }
    .Name{
        width: 700px;
    }
    .message{
        width: 700px;
    }
}






@media screen and (max-width:425px) 
{   
     
   nav ul{
    margin-left: -14rem;
    width: 100vw;
   }
   nav ul li{
       /* padding: 0rem 0rem; */
       font-size: 0.4rem;
   }

     .name p{
        width: 81vw;
       margin-left: 2rem;
       /* font-size: 5rem; */
     }
    .home{
        width: 100vw;
        height: 200vh;
        /* background-color: black; */
    }
    
    .container1{
        width: 100vw;
        height: 200vh;
    }
    .bold{
        color: black;
    }
    
    .img1{
        display: flex;
        flex-basis: 50%;
    }
    .img{
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
       background-size: cover;
       background-position: center center;
    }
    #grade1 {
        width: 100vw;
        height: 100vh;
        background-color: rgb(140, 0, 255);
        background-image: linear-gradient(rgb(162, 0, 255), rgba(0, 225, 255, 0.938));
    }
    .info{  
        width: 100vw;
        margin-top: -0.2rem;
    }
    .box{
        margin-top: 1.8rem;
    }
    .box h1{
        color: #f1c779;
    }
    .box h2{
        font-weight: 300;
    }
    .box p{
        color: white;
    }
    .box ul{
        margin-left: 1rem;
    }


.container2{
    display: flex;
    /* flex-wrap: wrap; */
    width: 100vw;
        height: 100vh;
    background-color: pink;
}
.details{
    height: 550px;
}

.details h1{
    color: brown;
    font-size: 5rem;
      padding-left: 2rem; 
      padding-top: 1rem;
}
.details h2{
    color: rgb(206, 79, 79);
    font-size: 3rem;
    margin-top: 1rem;
    padding-left:2rem;
}
.details p{
    font-size: 2.8rem;
    margin-top: 2rem;
    padding-left: 2rem;
    padding-right: 1rem;
}

#grade2 {
    width: 100vw;
    height: 100vh;
    background-color: black;
    background-image: linear-gradient(rgb(238, 235, 235), rgba(10, 10, 10, 0.938));
}




.img2{
    flex-basis: 100%;
    width: 100vw;
    height: 100vh;
    margin-top: 20.2rem;
 }
 .img2 img{
   width: 100vw;
   flex-basis: 100%;
   background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
 }

 .skill{
    flex-basis: 100%;
    width: 100vw;
    height: 100vh;
    /* flex-direction: column; */
    color:blanchedalmond;
    /* background-color: brown; */
 }
 .skill-prog{
    width: 100vw;
    padding: 0rem 2rem;
    margin-top: 4rem;

 }

.skill h1{
    font-size: 5rem ;
    margin-left: 10rem;
}
.skill h2{
    font-size: 3rem;
    margin-left: 10rem;

}


 .line{
    margin-left: 6rem;
    margin-right: 6rem;
    border: 2px solid black;    
}
.skill-prog strong{
    font-weight: bold;
    font-size: 3rem;
    padding: 2.5rem 0;
    margin-left: 7rem;
    
}
.skill-prog span{
    font-weight: bold;
    display: inline-block;
}
.per{
    float: right!important;
    margin-right: 5rem;
    font-size: 2.8rem;
    }
.color-white{
    color: white;
}



.container3{
    width: 100vw;
    height: 100vh;
    display: flex;
    margin-top: 32rem;
    flex-direction: column;
}
.img3{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.exp{
    /* display: flex; */
    width: 100vw;
    height: 100vh;
}
.exp h1{
font-size: 6rem;
}
.exp h2{
font-size: 4.5rem;
margin-bottom: 5rem;
}
.exp p{
    font-size: 4rem;
    margin-top: 0rem
}
.date{
    font-size: 3rem;
}


.collage{
    font-size: 2.5rem;
}
.brief-icon{
    font-size: 4rem;
    padding: 1rem 4rem;
}



.container4{
    width: 100vw;
    height: 100vh;
    display: flex;
    margin-top: 32rem;
    flex-direction: column;
}
.photo{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.img4{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.edu{
    /* display: flex; */
    width: 100vw;
    height: 100vh;
}
.edu h1{
font-size: 6rem;
}
.edu h2{
font-size: 4.5rem;
margin-bottom: 5rem;
}
.edu p{
    font-size: 4rem;
    margin-top: 0rem
}
.date{
    font-size: 2.5rem;
}
.collage{
    font-size: 2.5rem;
}


.container5{
    width: 100vw;
    height: 100vh;
}
.text{
    font-size: 4rem;
    width: 283vw;
}
.icon_star{
    font-size: 4rem;
}



.container6{
    width: 100vw;
    height: 100vh;
}
.per-info{
    flex-basis: 100%;
    width: 100vw;
    height: 100vh;
}
.per-info h3{
    font-size: 5rem;
    margin-left: 4rem;
}
.Name{
    width: 100vw;
    height: 100vh;
    margin-left: 5rem;
}
.message{
    margin-left: 5rem;
    width: 100vw;
    height: 100vh;
}
input::placeholder{
    font-size: 3.8rem;
}
textarea::placeholder{
    font-size: 3.8rem;
}
.contact__button{
    font-size: 4rem;
    border-width: 5px;
    padding: 0.5rem 19rem;
    margin-left: 8rem;
}




.cont-img{
flex-basis: 100%;
}
.img5{
    width: 100vw;
    height: 100vh;
}



.cont-add{
    flex-basis: 100%;
    height: 100vh;
    margin-top: 44rem
}
.cont-add h3{
    font-size: 5rem;
    margin-left: 5rem;
}
.cont-add p{
font-size: 3rem;
margin-left: 8rem;
}
.contact-icon{
    font-size: 3rem;
}

.footer{
    width: 100vw;
    height: 100vh;
    margin-top: 47rem;
}
.copyright{
    margin-top: 29rem;
    font-size: 4rem;
}
.footer-item{
    font-size: 4rem;
    padding: 4rem 2rem
}
}



@media screen and (max-width:375px) {
    .date{
        font-size: 2.5rem;
    }
    .contact__button{
        margin-left: 10rem;
        padding: 0.5rem 12rem;
    }
    .skill-prog{
        padding: 0rem 3rem
    }
}

@media screen and (max-width:320px) {
     .name{
         margin-right: -30rem;
     }
     .box h1{
         margin-top: -1rem;
     }
     .container3{
        height: 284.3vh;
     }
     .contact__button {
        margin-left: 6rem
     }
     .copyright{
        font-size: 3.3rem;
    }
    .footer-item{
        font-size: 3.5rem;
    }
    .date{
          font-size: 2.2rem;
    }
    .collage{
        font-size: 2.2rem;
    }
    .brief-icon{
        padding: 0rem 1.9rem;
    }
    .details{
        height: 652px;
        margin-top: -2rem
    }
    #grade1 {
        height: 100vh;
        background-color: rgb(140, 0, 255);
        background-image: linear-gradient(rgb(162, 0, 255), rgba(0, 225, 255, 0.938));
    }
    .img{
        height: 100vh;
    }
    
}

@media screen and (min-width:1024px) {
    .home{
        height: 105.3vh;
    }
    .img{
        height:105.3vh ;
    }
    .buton{
        margin-bottom: 2rem;
    }
    .box h1{
        margin-bottom: -1rem;
    }
    .per-info{
        display: flex;
        flex-direction: column;
        flex-basis: 50%;
    }
    .NAME{
        width: 650px;
    }
    .message{
        width: 650px;
    }
    .cont-add p{
        margin-left: 0.79rem;
        font-size: 1rem;
    }
    .cont-add h3{
    font-size: 1.3rem;
    }
    .contact-icon{
        font-size: 0.9rem;
    }
    .info{
        height: 105.3vh;
    }
    .collage{
        font-size: 1.2rem;
    }
}
